<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/libs/ng-grid/ng-grid.min.css" />
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/grid.css">
<script src="assets/libs/jquery/dist/jquery.min.js"></script>
<script src="assets/libs/angular/angular.min.js"></script>
<script src="assets/libs/ng-grid/ng-grid-2.0.14.min.js"></script>
<script src="app/shared/tabulation/tabulation.js"></script>
<script
	src="assets/libs/ui-bootstrap-tpls-0.13.0/ui-bootstrap-tpls-0.13.0.min.js"></script>
</head>
<body>
	<div class="container-fluid" ng-app="tabulationApp"
		ng-controller="tabulationController">
		<form action="post">
			<div class="row">
				<div class="col-xs-9 no-padding" ng-grid="tabulationGrid"
					id="tabulation-grid"></div>
				<div class="col-xs-3 no-padding" id="input-output-panel">
					<div id="output-panel">
						<h4>Grand Total</h4>
						<h1>Rs. 2000</h1>
					</div>
					<div id="input-panel">
						<h2>ITEM:</h2>
						<input type="text" class="form-control"
							placeholder="ITEM NAME OR CODE" ng-model="item" />
						<h2>QUANTITY:</h2>
						<input type="number" class="form-control" placeholder="NO OF ITEM"
							ng-model="quantity" /> <input type="hidden" ng-model="price" /><input
							type="button" id="add-btn"
							class="btn btn-primary btn-lg btn-block" value="ADD"
							ng-click="addRow()" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 no-padding">
					<input type="submit" id="done-btn"
						class="btn-primary btn btn-lg btn-block" value="DONE" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>