@CHARSET "UTF-8";

.ngHeaderContainer {
	font-weight: normal;
}

.ngTopPanel {
	background-color: #4c4c4c;
	color: #cacaca;
	font-size: 12px;
}

.ngGrid, .ngVerticalBarVisible {
	background-color: #7f7f7f;
}

.ngRow.even {
	background-color: #d6d6d6;
}

.ngViewport {
	font-size: 12px;
}