@font-face {
	font-family: digital;
	src: url("../fonts/digital-7.ttf");
}

* {
	border-radius: 0 !important;
}

.text-align-center {
	text-align: center;
}

#login-form > div {
	margin-top: 10px;
}

#login-form > input {
	margin-top: 20px;
}

#login-wrapper {
	margin-top: 100px;
}

#add-btn {
	margin-top: 10px;
}

#output-panel {
	background-color: #000;
	padding: 100px 10px 10px;
	font-family: digital;
	color: #fff;
	border-bottom: 1px solid #9F9D9D;
}

#output-panel h4 {
	float: left;
	font-size: 22px;
}

#output-panel h1 {
	text-align: right;
	margin: 0px;
	font-size: 38px;
}

.no-padding {
	padding: 0px;
}

#input-output-panel {
	background-color: #e0e0e0;
	height: 410px;
}

#tabulation-grid {
	height: 410px;
	border-right: 1px solid #333333;
	border-left: 1px solid #333333;
}

.tabulation-row-remove {
	margin: 7px;
	cursor: pointer;
}

#input-panel {
	padding: 0px 15px;
}